* {
  margin: 0%;
  padding: 0%; }

html {
  font-size: 62.5%; }

@keyframes fondoColor {
  0% {
    background-color: black; }
  50% {
    background-color: grey; }
  100% {
    background-color: black; } }

h1 {
  font-size: 5rem;
  text-align: center; }

h2 {
  font-size: 5rem;
  text-align: center; }

body {
  font-family: 'Syne Mono', monospace;
  color: whitesmoke;
  text-decoration: none;
  animation-name: fondoColor;
  animation-duration: 5s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite; }

.navegador {
  padding: 3rem;
  z-index: 121;
  display: flex;
  justify-content: space-around;
  align-self: stretch;
  flex-direction: row; }
  .navegador .navbar-brand {
    padding-top: 0%;
    padding-bottom: 0%; }
  .navegador .navbar-toggler {
    background-color: whitesmoke;
    border: 1px;
    border-color: whitesmoke; }
  .navegador a {
    font-size: 3rem;
    text-decoration: none;
    color: whitesmoke; }
    .navegador a:hover {
      color: red; }
  .navegador .collapse {
    font-size: 2rem; }
    .navegador .collapse .navbar-nav li {
      font-size: 2rem; }
      .navegador .collapse .navbar-nav li a {
        text-decoration: none;
        color: whitesmoke; }
        .navegador .collapse .navbar-nav li a:hover {
          color: red; }

.presentacion1 {
  display: flex;
  justify-content: center;
  margin: 10px; }

.img-presentacion2 {
  display: flex;
  align-items: center;
  font-size: 4rem;
  text-align: center; }

.ingresa {
  color: #06a006; }
  .ingresa:hover {
    color: red; }

.galeria-catalogo {
  margin: 10px;
  padding: 50px; }
  .galeria-catalogo img {
    width: 100%;
    transition: width 2s;
    border: 2px inset violet; }
    .galeria-catalogo img:hover {
      width: 105%;
      padding: 2px;
      border: 5px inset cyan; }

.cera {
  display: flex;
  justify-content: center; }
  .cera a {
    width: 60%; }

.limpiadores {
  display: flex;
  justify-content: center; }
  .limpiadores a {
    width: 60%; }

.llantas {
  display: flex;
  justify-content: center; }
  .llantas a {
    width: 60%; }

.perfumes {
  display: flex;
  justify-content: center; }
  .perfumes a {
    width: 60%; }

.quik-detail {
  display: flex;
  justify-content: center; }
  .quik-detail a {
    width: 60%; }

.shampoo {
  display: flex;
  justify-content: center; }
  .shampoo a {
    width: 60%; }

.interiores {
  display: flex;
  justify-content: center; }
  .interiores a {
    width: 60%; }

.quienes-somos {
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin: 10px;
  justify-content: center; }

.nosotros {
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 2rem;
  color: whitesmoke; }

.compras {
  margin: 10px;
  padding: 50px; }
  .compras img {
    width: 100%;
    transition: width 1s;
    border: 2px inset violet; }
    .compras img:hover {
      width: 120%;
      padding: 2px;
      border: 5px inset cyan; }
  .compras .compras-formulario {
    display: flex;
    font-size: 1.5rem; }
    .compras .compras-formulario input {
      text-align: center; }
  .compras .compras-cera {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; }
    .compras .compras-cera div {
      padding: 3%; }
  .compras .compra-limpiadores {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; }
    .compras .compra-limpiadores div {
      padding: 3%; }
  .compras .compra-llantas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; }
    .compras .compra-llantas div {
      padding: 3%; }
  .compras .compra-perfumes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; }
    .compras .compra-perfumes div {
      padding: 3%; }
  .compras .compra-quick-detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; }
    .compras .compra-quick-detail div {
      padding: 3%; }
  .compras .compra-shampoo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; }
    .compras .compra-shampoo div {
      padding: 3%; }

.contacto {
  display: flex;
  margin-left: 150px;
  margin-right: 150px;
  font-size: 3rem;
  flex-direction: column;
  align-items: center; }
  .contacto input {
    font-size: 2rem; }
  .contacto textarea {
    font-size: 2rem; }

.enviar {
  display: flex;
  justify-content: center; }

.resetear {
  display: flex;
  justify-content: center; }

.pieDePagina {
  margin: 10px;
  font-size: 2rem;
  text-align: center;
  color: darkcyan;
  text-decoration: none; }

.instagram {
  text-decoration: none;
  color: whitesmoke; }

.whatsapp {
  text-decoration: none;
  color: whitesmoke; }

@media screen and (max-width: 500px) {
  h2 {
    font-size: 2rem;
    text-align: center; }
  .body {
    animation-name: fondoColor;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite; }
  .presentacion1 {
    display: flex;
    flex-direction: column;
    width: 100%; }
  .img-presentacion2 {
    display: flex;
    align-items: center;
    font-size: 4rem;
    text-align: center; }
  .carousel {
    width: 80%; }
  .nosotros {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    text-align: center; }
  .imgNosotros {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px; }
  .contacto {
    flex-direction: column; }
    .contacto input {
      font-size: 1rem;
      flex-direction: column;
      align-items: center; }
      .contacto input :focus {
        font-size: 2rem; }
    .contacto textarea {
      font-size: 1rem; }
      .contacto textarea :focus {
        font-size: 2rem; }
  .enviar {
    margin-left: auto;
    margin-right: auto; }
  .resetear {
    margin-left: auto;
    margin-right: auto; }
  .relleno {
    display: flex;
    height: 30px; }
  .pieDePagina {
    font-size: 1rem;
    color: whitesmoke; } }

@media screen and (max-width: 768px) {
  h2 {
    font-size: 2rem;
    text-align: center; }
  .carousel {
    width: 35%; }
  .nosotros {
    flex-direction: row;
    margin: 10px;
    font-size: 1.5rem;
    text-align: end;
    color: whitesmoke; }
  .contacto {
    font-size: 2rem; }
    .contacto input {
      transition: none; }
    .contacto textarea {
      font-size: 2rem;
      transition: none; }
      .contacto textarea :focus {
        font-size: 4rem; }
  .pieDePagina {
    margin: 10px;
    font-size: 2rem;
    text-align: center;
    color: whitesmoke; } }
