* {
  margin: 0%;
  padding: 0%; }

html {
  font-size: 62.5%; }

h1 {
  font-size: 5rem;
  text-align: center; }

h2 {
  color: wheat;
  font-size: 5rem;
  text-align: center; }

h3 {
  font-size: 5rem;
  text-align: center;
  color: red; }

body {
  font-family: 'Oswald', sans-serif;
  background: linear-gradient(to bottom, #000000 50%, #ffffff 80%);
  text-decoration: none; }

.arriba {
  transform: translateY(400px);
  position: sticky;
  top: 80px;
  display: flex;
  justify-content: flex-end;
  opacity: 0.5;
  margin: 10px; }

.banner {
  font-size: 2.5rem; }
  .banner a {
    font-size: 2rem;
    text-decoration: none;
    color: #000000; }
    .banner a:hover {
      color: red; }
  .banner .institucional {
    margin-top: 15px;
    margin-bottom: 10px; }
  .banner .link-institucional {
    margin-top: 10px;
    margin-bottom: 20px; }
  .banner .como-comprar {
    margin-top: 15px;
    margin-bottom: 10px; }

.navegador {
  padding-top: 4rem;
  z-index: 121;
  display: flex;
  justify-content: space-around;
  align-self: stretch;
  flex-direction: row; }
  .navegador .navbar-toggler {
    font-size: 2rem;
    background-color: wheat;
    border: 1px; }
  .navegador a {
    font-size: 3rem;
    text-decoration: none;
    color: wheat; }
    .navegador a:hover {
      color: red; }
  .navegador .collapse {
    font-size: 2rem; }
    .navegador .collapse .navbar-nav li {
      font-size: 2rem; }
      .navegador .collapse .navbar-nav li a {
        text-decoration: none;
        color: whitesmoke; }
        .navegador .collapse .navbar-nav li a:hover {
          color: red; }

.presentacion1 {
  display: flex;
  justify-content: center;
  margin: 2px;
  transform: scaleX(1.5); }

.presentacion2 .video-presentacion2 {
  display: flex;
  flex-direction: row;
  align-items: center; }

.presentacion2 .txt-presentacion2 {
  font-size: 4rem;
  text-align: center;
  color: wheat; }
  .presentacion2 .txt-presentacion2 .ingresa {
    text-decoration: none;
    color: #06a006; }
    .presentacion2 .txt-presentacion2 .ingresa:hover {
      color: red; }

.galeria-catalogo {
  margin: 10px;
  padding: 10px; }
  .galeria-catalogo img {
    width: 100%;
    transition: width 2s; }
    .galeria-catalogo img:hover {
      width: 100%;
      padding: 2px;
      border: 5px inset wheat; }

.container1 {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 10px; }
  .container1 .cera {
    display: flex;
    justify-content: center; }
    .container1 .cera a {
      width: 60%; }
  .container1 .limpiadores {
    display: flex;
    justify-content: center; }
    .container1 .limpiadores a {
      width: 60%; }

.container2 {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 10px; }
  .container2 .llantas {
    display: flex;
    justify-content: center; }
    .container2 .llantas a {
      width: 60%; }
  .container2 .perfumes {
    display: flex;
    justify-content: center; }
    .container2 .perfumes a {
      width: 60%; }

.container3 {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 10px; }
  .container3 .interiores {
    display: flex;
    justify-content: center; }
    .container3 .interiores a {
      width: 60%; }
  .container3 .shampoo {
    display: flex;
    justify-content: center; }
    .container3 .shampoo a {
      width: 60%; }

.bodyNosotros {
  font-family: 'Oswald', sans-serif;
  background: linear-gradient(to bottom, #000000 77%, #ffffff 50%);
  text-decoration: none; }

.quienes-somos {
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin: 10px;
  justify-content: center; }

.nosotros {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-size: 2.5rem;
  color: wheat; }

.compras {
  margin: 10px;
  padding: 10px; }
  .compras img {
    width: 100%;
    transition: width 1s;
    border: 2px;
    border-radius: 30px; }
    .compras img:hover {
      padding: 2px;
      border: 5px inset cyan; }
  .compras .compras-formulario {
    display: flex;
    font-size: 1.5rem; }
    .compras .compras-formulario input {
      text-align: center; }
  .compras .compras-cera {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; }
    .compras .compras-cera div {
      padding: 3%; }
  .compras .compra-limpiadores {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; }
    .compras .compra-limpiadores div {
      padding: 3%; }
  .compras .compra-llantas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px; }
    .compras .compra-llantas div {
      padding: 3%; }
  .compras .compra-perfumes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; }
    .compras .compra-perfumes div {
      padding: 3%; }
  .compras .compra-quick-detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; }
    .compras .compra-quick-detail div {
      padding: 3%; }
  .compras .compra-shampoo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; }
    .compras .compra-shampoo div {
      padding: 3%; }

.contacto .formulario {
  display: flex;
  font-size: 3rem;
  color: red;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border-radius: 10px; }

.contacto input {
  font-size: 2rem;
  border-radius: 10px;
  border: 1px solid violet; }

.contacto textarea {
  font-size: 2rem;
  border-radius: 15px;
  border: 1px solid violet; }

.enviar {
  border-radius: 20px;
  display: flex;
  justify-content: center; }

.resetear {
  border-radius: 20px;
  display: flex;
  justify-content: center; }

.redes-sociales {
  display: flex;
  margin: 10px;
  justify-content: space-evenly; }
  .redes-sociales .instagram {
    text-decoration: none;
    color: black; }
    .redes-sociales .instagram:hover {
      color: red; }
  .redes-sociales .whatsapp {
    text-decoration: none;
    color: black; }
    .redes-sociales .whatsapp:hover {
      color: red; }

.body-pago-y-condiciones {
  background: black;
  color: wheat;
  font-size: 2rem;
  text-align: center; }

h2 {
  color: red; }

.accordion .accordion-button {
  font-size: 2.5rem;
  color: black; }

.accordion .accordion-body {
  font-size: 2rem;
  color: black; }

.banner367 {
  font-size: 2rem; }
  .banner367 a {
    font-size: 2rem;
    text-decoration: none;
    color: wheat; }
    .banner367 a:hover {
      color: red; }

@media screen and (max-width: 768px) {
  h2 {
    font-size: 6rem;
    text-align: center;
    color: wheat; }
  h3 {
    font-size: 5rem;
    text-align: center;
    color: cyan;
    margin-top: 20px;
    padding-top: 20px; }
  /*navegador*/
  .navegador {
    justify-content: end; }
    .navegador .navbar-toggler {
      font-size: 1.5rem;
      background-color: wheat;
      border: 2px;
      border-color: red; }
    .navegador a {
      font-size: 2rem;
      text-decoration: none;
      color: wheat; }
  /*felcha arriba*/
  .arriba {
    transform: translateY(350px); }
  /*imagen presentacion 1*/
  .presentacion1 {
    display: flex;
    justify-content: center;
    margin: 2px;
    transform: translateY(-15px); }
  /*imagen presentacion 2*/
  .presentacion2 .video-presentacion2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px; }
  .presentacion2 .texto {
    font-size: 2rem;
    text-align: center; }
    .presentacion2 .texto .ingresa {
      text-decoration: none;
      color: #06a006; }
  /*catalogo*/
  .catalogo .galeria-catalogo {
    padding: 15px; }
    .catalogo .galeria-catalogo a {
      width: 80%; }
  /*nosotros*/
  .quienes-somos .nosotros {
    flex-direction: column;
    margin: 10px;
    font-size: 3rem;
    text-align: center;
    color: wheat; }
  /*carrito*/
  .compras img {
    border: 2px; }
  .compras .compras-cera {
    display: flex;
    flex-direction: column;
    padding: 3px; }
  .compras .compra-limpiadores {
    display: flex;
    flex-direction: column;
    padding: 3px; }
  .compras .compra-limpiadores {
    display: flex;
    flex-direction: column;
    padding: 3px; }
  .compras .compra-llantas {
    display: flex;
    flex-direction: column;
    padding: 3px; }
  .compras .compra-perfumes {
    display: flex;
    flex-direction: column;
    padding: 3px; }
  .compras .compra-quick-detail {
    display: flex;
    flex-direction: column;
    padding: 3px; }
  .compras .compra-shampoo {
    display: flex;
    flex-direction: column;
    padding: 3px; }
  /*contacto*/
  .contacto .formulario {
    color: cyan;
    border: 2px;
    border-radius: 10px; }
  .enviar {
    border-bottom-color: aqua;
    border-radius: 20px;
    display: flex;
    justify-content: center; }
  .resetear {
    border-radius: 20px;
    display: flex;
    justify-content: center; }
  /*footer*/
  .instagram {
    text-decoration: none;
    color: #a50a9b; }
  .whatsapp {
    text-decoration: none;
    color: #a50a9b; } }

@media screen and (max-width: 500px) {
  h2 {
    font-size: 4rem; }
  h3 {
    font-size: 3rem;
    margin-top: 10px;
    padding-top: 10px; }
  /*navegador*/
  .navegador {
    justify-content: end; }
    .navegador .navbar-toggler {
      font-size: 1rem;
      background-color: wheat;
      border: 2px;
      border-color: red; }
    .navegador a {
      font-size: 1.5rem;
      text-decoration: none;
      color: wheat; }
  /*felcha arriba*/
  .arriba {
    transform: translateY(375px); }
  /*imagen presentacion 1*/
  .presentacion1 {
    display: flex;
    justify-content: center;
    margin: 2px;
    transform: translateY(-15px); }
  /*imagen presentacion 2*/
  .presentacion2 .video-presentacion2 {
    padding: 10px; }
  .presentacion2 .texto {
    font-size: 2.5rem;
    color: wheat; }
    .presentacion2 .texto .ingresa {
      color: #a50a9b; }
  /*catalogo*/
  .catalogo .galeria-catalogo {
    padding: 5px; }
    .catalogo .galeria-catalogo a {
      width: 80%; }
  /*nosotros*/
  .quienes-somos .nosotros {
    font-size: 2.5rem;
    text-align: center; }
  /*carrito*/
  .compras img {
    border: 2px; }
  .compras .compras-formulario {
    flex-direction: column;
    font-size: 1rem; }
    .compras .compras-formulario input {
      text-align: center; }
  /*contacto*/
  .contacto input {
    font-size: 1rem;
    flex-direction: column;
    align-items: center; }
  .contacto textarea {
    font-size: 1rem; }
  .enviar {
    margin-left: auto;
    margin-right: auto; }
  .resetear {
    margin-left: auto;
    margin-right: auto; }
  /*footer*/
  .instagram {
    font-size: 2rem;
    text-decoration: none;
    color: #a50a9b; }
  .whatsapp {
    font-size: 2rem;
    text-decoration: none;
    color: #a50a9b; } }
