*{
    margin: 0%;
    padding: 0%;
}
html{
    font-size: 62.5%;
}

@keyframes fondoColor {
    0% {
        background-color: rgb(0,0,0);;
    }
    33% {
        background-color: rgba(71, 63, 56, 0.732)
    }
    66%{
        background-color: rgba(22, 26, 31, 0.732) 75%;
    }
    100%{
        background-color: rgb(0, 0, 0);
    }
}


h1{
    font-size: 5rem;
    text-align: center;
}
h2{
    font-size: 5rem;
    text-align: center;
}

/*tamaño desktop*/

.body{
    font-family: 'Syne Mono', monospace;
    color: darkcyan;
    text-decoration: none;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(14,39,73,0.7315301120448179) 75%, rgba(44,27,93,0) 100%);
    animation-name: fondoColor;
    animation-duration: 4s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;

}
.navegador{
    padding: 5px;
}

.navegador ul{
    display: flex;
    justify-content: space-evenly;  
}

.navegador li{
  display: inline-block;
  font-size: 2rem;
}
.navegador li a{
   text-decoration: none;
   color: aquamarine;
   transition: font-size 1s;
}
.navegador li a:hover{
    font-size: 3rem;  
    color: red;  
}

.presentacion{
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}   

.carousel{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.nosotros{
    margin: 10px; 
    font-size: 4rem;
    color: rgb(255, 255, 255);
    text-align: justify;
    border: 2px inset darkorchid;    
}

.contacto{
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    font-size: 3rem;
    flex-direction: column;
    align-items: center;
}

.contacto input{
    font-size: 2rem;
    transition: all 1s;
}

.contacto input:focus{
    font-size: 4rem;
}

.contacto textarea{
    font-size: 2rem;
    transition: all 1s;
}

.contacto textarea:focus{
    font-size: 4rem;
}

.enviar{
    
    margin-left: auto;
    margin-right: auto;
    
}

.resetear{
    
    margin-left: auto;
    margin-right: auto;
}

.pieDePagina{
    margin: 10px;
    font-size: 2rem;
    text-align: center;
    color: darkcyan;
    border: 2px inset darkorchid;
}

/*tamaño tablet*/

@media screen and (max-width: 768px){
    .navegador{
        border: 2px inset red;
        padding: 5px;
        display: flex;
        justify-content: space-around;
    }
    .navegador ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .presentacion{
        border: 2px inset red;
        
    }
    .contacto input{
        font-size: 2rem;
        transition: none;
    }
    .contacto input:focus{
        font-size: 4rem;
    }
    .contacto textarea{
        font-size: 2rem;
        transition: none;
    }
    .contacto textarea:focus{
        font-size: 4rem;
    }
}

/*tamaño celular*/
@media screen and (max-width: 500px){

    .navegador{
        border: 4px inset rgb(238, 223, 21);
        padding: 2px;
        margin: 2px;
        
    }
    .navegador ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .presentacion{
        border: 4px inset rgb(238, 223, 21);
        padding: 2px;
        margin: 2px
    }

    .productos{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr;
        grid-template-areas:
        "selladores-liquidos" 
        "selladores-hibridos"
        "acondicionador-interior" 
        "acondicionador-exterior"
        "perfumes" 
        "limpiadores" 
        "shampoo" 
        "ceras-carnuba"
        ;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        margin: 10px;
        justify-items: center;
    }
    .selladores-liquidos{
        grid-area: selladores-liquidos;
        border: 4px inset rgb(238, 223, 21);
        padding: 2px;
        margin: 2px
               
    }
    .selladores-hibridos{
        grid-area: selladores-hibridos;
        border: 4px inset rgb(238, 223, 21);
        padding: 2px;
        margin: 2px
       
    }
    .acondicionador-interior{
        grid-area: acondicionador-interior;
        border: 4px inset rgb(238, 223, 21);
        padding: 2px;
        margin: 2px
      
    }
    .acondicionador-exterior{
        grid-area: acondicionador-exterior;
        border: 4px inset rgb(238, 223, 21);
        padding: 2px;
        margin: 2px
        
    }
    .perfumes{
        grid-area: perfumes;
        border: 4px inset rgb(238, 223, 21);
        padding: 2px;
        margin: 2px
        
    }
    .limpiadores{
        grid-area: limpiadores;
        border: 4px inset rgb(238, 223, 21);
        padding: 2px;
        margin: 2px
       
    }
    .shampoo{
        grid-area: shampoo;
        border: 4px inset rgb(238, 223, 21);
        padding: 2px;
        margin: 2px
       
    }
    .ceras-carnuba{
        grid-area: ceras-carnuba;
        border: 4px inset rgb(238, 223, 21);
        padding: 2px;
        margin: 2px;
    }

}
