.compras {
    
    margin: 10px;
    padding: 50px;

    img{
        width: 100%;
        transition: width 1s;
        border: 2px inset violet;

        &:hover {
            width: 120%;
            padding: 2px;
            border: 5px inset cyan;
            
        }
    }

    .compras-formulario{
        display: flex;
        font-size: 1.5rem;
        
        input {
        text-align: center;}

    }

    .compras-cera{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        
        div{
            padding: 3%;
        }
    }
    .compra-limpiadores{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        
        div{
            padding: 3%;
        }
    }

    .compra-llantas{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        
        div{
            padding: 3%;
        }
    }

    .compra-perfumes{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        
        div{
            padding: 3%;
        }
    }

    .compra-quick-detail{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        
        div{
            padding: 3%;
        }
    }

    .compra-shampoo{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        
        div{
            padding: 3%;
        }
    }
}

