.galeria-catalogo {
    
    margin: 10px;
    padding: 50px;

    img{
        width: 100%;
        transition: width 2s;
        border: 3px inset violet;

        &:hover {
            width: 105%;
            padding: 2px;
            border: 5px inset red;
            
        }
    }
}
.cera{
    
    display: flex;
    justify-content: center;

    a{
        width: 50%;
    }
}

.limpiadores {
    display: flex;
    justify-content: center;

    a{
        width: 50%;
    }
}

.llantas {
    display: flex;
    justify-content: center;

    a{
        width: 50%;
    }
}

.perfumes {
    display: flex;
    justify-content: center;

    a{
        width: 50%;
    }
}

.quik-detail {
    display: flex;
    justify-content: center;

    a{
        width: 50%;
    }
}

.shampoo {
    display: flex;
    justify-content: center;

    a{
        width: 50%;
    }
}

.interiores {
    display: flex;
    justify-content: center;

    a{
        width: 50%;
    }
}