.galeria-catalogo {

    margin: 10px;
    padding: 10px;

    img {
        width: 100%;
        transition: width 2s;


        &:hover {
            width: 100%;
            padding: 2px;
            border: 5px inset wheat;

        }
    }
}

.container1 {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;

    .cera {
        display: flex;
        justify-content: center;

        a {
            width: 60%;
        }
    }

    .limpiadores {
        display: flex;
        justify-content: center;

        a {
            width: 60%;
        }
    }

}

.container2 {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;

    .llantas {
        display: flex;
        justify-content: center;

        a {
            width: 60%;
        }

    }

    .perfumes {
        display: flex;
        justify-content: center;

        a {
            width: 60%;
        }
    }
}

.container3 {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;

    .interiores {
        display: flex;
        justify-content: center;

        a {
            width: 60%;
        }
    }

    .shampoo {
        display: flex;
        justify-content: center;

        a {
            width: 60%;
        }
    }

}