.contacto {
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    font-size: 3rem;
    flex-direction: column;
    align-items: center;
    
    input {
        font-size: 2rem;
    }
    textarea {
        font-size: 2rem;
    }
}

.enviar {
    
    display: flex;
    justify-content: center; }
  
.resetear {
   
    display: flex;
    justify-content: center; }