.contacto{
   .formulario{
    display: flex;
    font-size: 3rem;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
   }
       
    input {
        font-size: 2rem;
    }
    textarea {
        font-size: 2rem;
    }
    
}

.enviar {
    
    display: flex;
    justify-content: center; }
  
.resetear {
   
    display: flex;
    justify-content: center; }