.contacto{
   .formulario{
    display: flex;
    font-size: 3rem;
    color:rgb(6, 160, 6);  
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border: 2px solid violet;
    border-radius: 10px;

   }
       
    input {
        font-size: 2rem;
        border-radius: 10px;
        border: 1px solid violet;
    
    }
    textarea {
        font-size: 2rem;
        border-radius: 15px;
        border: 1px solid violet;
    }
    
}

.enviar {
    border-radius: 20px;
    display: flex;
    justify-content: center; }
  
.resetear {
    border-radius: 20px;
    display: flex;
    justify-content: center; }