.pieDePagina {
    margin: 10px;
    font-size: 2rem;
    text-align: center;
    color: darkcyan;
    text-decoration: none;
}

.instagram {
    text-decoration: none;
    color: whitesmoke;
}

.whatsapp {
    text-decoration: none;
    color: whitesmoke;
}