.redes-sociales {
    display: flex;
    margin: 10px;
    justify-content: space-evenly;


    .instagram {
        text-decoration: none;
        color: black;
        &:hover {
            color: red;
        }

    }

    .whatsapp {
        text-decoration: none;
        color: black;
        &:hover {
            color: red;
        }
    }
}