.presentacion {
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-100px) ;
}