    .presentacion1 {
        display: flex;
        justify-content: center;
        margin: 2px;
        transform: scaleX(1.5);}

    .presentacion2 {
        .video-presentacion2 {
            display: flex;
            flex-direction: row;
            align-items: center;}
        
        .texto{
            font-size: 4rem;
            text-align: center;

            .ingresa {
                text-decoration: none;
                color: rgb(6, 160, 6);
                
                &:hover {
                    color: red;}
            }
        }
    }