@media screen and (max-width: 500px) {
    
    h2 {
        font-size: 2rem;
        text-align: center;
    }

    .body {
        animation-name: fondoColor;
        animation-duration: 3s;
        animation-timing-function: ease-out;
        animation-iteration-count: infinite;
    }

    .presentacion1{
        display: block;
        padding-top: 30px;
    }

    .img-presentacion2{
        display: block;
        padding-top: 30px;
    }

    .galeria-catalogo{
        padding: 2px;
        a{width: 80%;}
    }
    .compras-formulario{
        flex-direction: column;
        font-size: 1rem;
        
        input {
        text-align: center;}

    } 
.compras{
    padding: 5px;
    img{
        width: 100%;
    }
}

    .contacto {
         
        input {
            font-size: 1rem;
            flex-direction: column;
            align-items: center;
        
            :focus {
                font-size: 2rem;
            }
        }
   
        textarea {
            font-size: 1rem;
            
        
            :focus {
                font-size: 2rem;
            }
        }
    }

    .enviar {
        margin-left: auto;
        margin-right: auto;
    }

    .resetear {
        margin-left: auto;
        margin-right: auto;
    }


    .pieDePagina {
        font-size: 2rem;
        color: whitesmoke;
        padding: 15px;
    }
}