@media screen and (max-width: 768px) {
    .body-pago-y-condiciones {
        background: black;
        color: wheat;
        font-size: 2rem;
        text-align: center;
    }

    h2 {
        font-size: 6rem;
        text-align: center;
        color: wheat;
    }

    h3 {
        font-size: 5rem;
        text-align: center;
        color: cyan;
        margin-top: 20px;
        padding-top: 20px;
    }

    /*navegador*/
    .navegador {
        justify-content: end;

        .navbar-toggler {
            font-size: 1.5rem;
            background-color: wheat;
            border: 2px;
            border-color: red;
        }

        a {
            font-size: 2rem;
            text-decoration: none;
            color: wheat;
        }
    }

    /*felcha arriba*/
    .arriba {
        transform: translateY(350px);

    }

    /*imagen presentacion 1*/
    .presentacion1 {
        display: flex;
        justify-content: center;
        margin: 2px;
        transform: translateY(-15px);
    }

    /*imagen presentacion 2*/
    .presentacion2 {
        .video-presentacion2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 60px;
        }

        .texto {
            font-size: 2rem;
            text-align: center;

            .ingresa {
                text-decoration: none;
                color: rgb(6, 160, 6);
            }
        }
    }

    /*catalogo*/
    .catalogo {
        .galeria-catalogo {
            padding: 15px;

            a {
                width: 80%;
            }
        }
    }

    /*nosotros*/
    .quienes-somos {
        .nosotros {
            flex-direction: column;
            margin: 10px;
            font-size: 3rem;
            text-align: center;
            color: wheat
        }
    }

    /*carrito*/
    .compras {

        img {
            border: 2px;
        }

        .compras-cera {
            display: flex;
            flex-direction: column;
            padding: 3px;
        }

        .compra-limpiadores {
            display: flex;
            flex-direction: column;
            padding: 3px;
        }

        .compra-limpiadores {
            display: flex;
            flex-direction: column;
            padding: 3px;
        }

        .compra-llantas {
            display: flex;
            flex-direction: column;
            padding: 3px;
        }

        .compra-perfumes {
            display: flex;
            flex-direction: column;
            padding: 3px;
        }

        .compra-quick-detail {
            display: flex;
            flex-direction: column;
            padding: 3px;
        }

        .compra-shampoo {
            display: flex;
            flex-direction: column;
            padding: 3px;
        }
    }

    /*contacto*/
    .contacto {
        .formulario {

            color: cyan;
            border: 2px;
            border-radius: 10px;
        }
    }

    .enviar {
        border-bottom-color: aqua;
        border-radius: 20px;
        display: flex;
        justify-content: center;
    }

    .resetear {
        border-radius: 20px;
        display: flex;
        justify-content: center;
    }

    .accordion {

        .accordion-button {
            font-size: 2.5rem;
            color: black;
        }

        .accordion-body {
            font-size: 2rem;
            color: black;
        }
    }

    .banner367 {
        font-size: 2rem;

        a {
            font-size: 2rem;
            text-decoration: none;
            color: wheat;

            &:hover {
                color: red;
            }
        }
    }

    .banner {
        font-size: 2.5rem;

        a {
            font-size: 2rem;
            text-decoration: none;
            color: #000000;

            &:hover {
                color: red;
            }
        }

        .institucional {
            margin-top: 15px;
            margin-bottom: 10px;
        }

        .link-institucional {
            margin-top: 10px;
            margin-bottom: 20px;
        }

        .como-comprar {
            margin-top: 15px;
            margin-bottom: 10px;
        }
    }

    /*footer*/
    .instagram {
        text-decoration: none;
        color: rgb(165, 10, 155);
    }

    .whatsapp {
        text-decoration: none;
        color: rgb(165, 10, 155);
    }

}