@media screen and (max-width: 768px) {

    h2 {
        font-size: 4rem;
        text-align: center;
    }

    .img-presentacion2{
        display: flex;
        flex-direction: column;
    }
    .galeria-catalogo{
        padding: 10px;
        a{width: 80%;}
    }
   
    .nosotros {
        flex-direction: column;
        margin: 10px;
        font-size: 1.5rem;
        text-align: center;
        color: whitesmoke
         
    }

    .compras{
        padding: 10px;
        
        
    }
}