.navegador {
    
    padding-top: 4rem;
    z-index: 121;
    display: flex;
    justify-content: space-around;
    align-self: stretch;
    flex-direction: row;
            
        .navbar-toggler {
            font-size: 2rem;
            background-color: wheat;
            border: 1px;}

            a {
                font-size: 3rem;
                text-decoration: none;
                color: wheat;
                
                &:hover {
                    color: red;}
        }

        .collapse {
            font-size: 2rem;
           
            .navbar-nav{
                        
                li {
                    font-size: 2rem;
                    a {
                        text-decoration: none;
                        color: whitesmoke;
                                  
                        &:hover {
                            color: red;}
                    }
                }
            }
        }
    
}

