.navegador {
    
    padding: 3rem;
    z-index: 121;
    display: flex;
    justify-content: space-around;
    align-self: stretch;
    flex-direction: row;
    
        .navbar-brand{
            padding-top: 0%;
            padding-bottom: 0%;
        }
        .navbar-toggler{
            font-size: 2rem;
            background-color: whitesmoke;
            border: 1px;
            border-color: whitesmoke;
        }
        a {
            font-size: 3rem;
            text-decoration: none;
            color: whitesmoke;
            
            &:hover {
                color: red;
            }
        }
        .collapse {
            font-size: 2rem;
           
            .navbar-nav{
                        
                li {
                    font-size: 2rem;
                    a {
                        text-decoration: none;
                        color: whitesmoke;
                                  
                        &:hover {
                            
                            color: red;
                        }
                    }
                }
            }
        }
    
}

