.bodyNosotros {
    font-family: 'Oswald', sans-serif;
    background: black;
    text-decoration: none;
}
.quienes-somos {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 10px;
    justify-content: center;
}
.nosotros {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 2.5rem;
    color: wheat
        
}
