.nosotros {
    display: flex;
    text-align: center;
    flex: wrap;
    margin: 120px;
    font-size: 2rem;
    color: whitesmoke;
        
}
.imgNosotros {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
}
