.quienes-somos {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 10px;
    justify-content: center;
}
.nosotros {
    display: flex;
    text-align: center;
    align-items: center;
   
    font-size: 2rem;
    color: whitesmoke;
        
}
