* {
    margin: 0%;
    padding: 0%;
}

html {
    font-size: 62.5%;
    
}


h1 {
    font-size: 5rem;
    text-align: center;
}

h2 {
    color: wheat;  
    font-size: 5rem;
    text-align: center;
}

h3{
    font-size: 5rem;
    text-align: center;
    color: red;}
    
body {
    font-family: 'Oswald', sans-serif;
    background: linear-gradient(to bottom, #000000 50%, #ffffff 80%);
    text-decoration: none;
}

.arriba{
    transform: translateY(400px);
    position: sticky;
    top: 80px;
    display: flex;
    justify-content: flex-end;
    opacity: 0.5;
    margin: 10px;
    
}

.banner{
    font-size: 2.5rem;
    a{
        font-size: 2rem;
        text-decoration: none;
        color: #000000;
            &:hover {
                color: red;
            }
        }
    .institucional{
       margin-top: 15px;
       margin-bottom: 10px;
    }
    
    .link-institucional{
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .como-comprar{
        margin-top: 15px;
        margin-bottom: 10px;
    }
}