* {
    margin: 0%;
    padding: 0%;
}

html {
    font-size: 62.5%;
}

@keyframes fondoColor {
    0% {
        background-color: black;
    }
    50% {
        background-color: grey;
    }
    100% {
        background-color: black;
    }
}

h1 {
    font-size: 5rem;
    text-align: center;
}

h2 {
       
    font-size: 5rem;
    text-align: center;
}

body {
    font-family: 'Syne Mono', monospace;
    color: whitesmoke;
    text-decoration: none;
    animation-name: fondoColor;
    animation-duration: 5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}
